<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>PSK Seed Nx</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="container mx-auto">
  <div class="w-full">
    <h1>PSK Seed Nx</h1>
    <br>
    <button mat-raised-button color="primary" (click)="createMyEntity()">
      <mat-icon>add</mat-icon>
      Create Entity
    </button>
    <br>
    <br>
    <button mat-raised-button color="primary" (click)="reloadMyEntities()">
      <mat-icon>refresh</mat-icon>
      Reload list
    </button>
    <br>
    <pre>{{ myData | json }}</pre>
  </div>
</div>
